@model BetaCinemas.Models.Contact

@{
    ViewData["Title"] = "Chỉnh sửa phản hồi";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SentTimeToString" class="control-label"></label>
                <input asp-for="SentTimeToString" class="form-control" disabled />
                <span asp-validation-for="SentTimeToString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentContent" class="control-label"></label>
                <input asp-for="SentContent" class="form-control" />
                <span asp-validation-for="SentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><< Trở lại trang trước</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
