@model Error
@{
    ViewData["Title"] = "Lỗi";
}

<h1 class="text-danger">Lỗi</h1>
<h2 class="text-danger">Một lỗi đã phát sinh trong quá trình xử lý yêu cầu của bạn</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Mã lỗi:</strong> <code>@Model.RequestId</code>
    </p>
}
