@model BetaCinemas.Models.Post

@{
    ViewData["Title"] = Model.Title;
}

<dl class="row">
    <dt class="col-sm-6">
        <img class="img-responsive border-radius-20" alt=""
             src=@Html.DisplayFor(model => model.ImageUrl)>
    </dt>
    <dd class="col-sm-auto ml-2">
        <dl class="row">
            <dt class="h3 mb-3">
                @Html.DisplayFor(model => model.Title)
            </dt>
            <dd></dd>
            <dt></dt>
            <dd class="mb-3">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt></dt>
            <dd class="text-right col-sm-6">
                <div type="button" class="btn btn-sm btn-outline-success"
                   href="@Html.DisplayFor(modelItem => modelItem.AttachedUrl)">Đính kèm</div>
            </dd>
        </dl>
    </dd>
</dl>