@model BetaCinemas.Models.Ticket

@{
    ViewData["Title"] = "Đặt vé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="justify-content-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Bạn xác nhận muốn đặt vé này?</label>
                <button type="submit" value="Create" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Showtime" asp-action="Index"><< Quay lại suất chiếu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
