@using Microsoft.AspNetCore.Identity
@model BetaCinemas.Models.Ticket
@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager

@{
    ViewData["Title"] = "Đặt vé";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (!SignInManager.IsSignedIn(User))
    {
        <meta http-equiv="Refresh" content="0; url=/Identity/Account/Login" />
    }
}

<div class="row">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <div class="justify-content-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Bạn xác nhận muốn đặt vé này?</label>
                <button type="submit" value="Create" class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Showtime" asp-action="Index"><< Xem suất chiếu khác</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
