@{
    ViewData["Title"] = "Giá vé";
}
<div class="text-center">
    <img class="img-responsive margin-bottom-30 margin-top-20"
         src="https://files.betacorp.vn/files/ecm/2021/01/28/1920x2400-bang-gia-my-dinh-155727-280121-78.jpg"
         style="display: initial; width:100%">
</div>