@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác thực thành công";
}

<h3>
    Tài khoản thành viên của bạn đã được đăng ký thành công<br />
    Vui lòng<a id="confirm-link" href="./Login"></a> đăng nhập để tiếp tục
</h3>