@model BetaCinemas.Models.Movie

@{
    ViewData["Title"] = "Thêm phim";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4 ml-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Tựa đề" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" placeholder="Mô tả chi tiết" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" placeholder="Thời lượng (nếu có)" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" placeholder="Đạo diễn (nếu có)" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor" class="control-label"></label>
                <input asp-for="Actor" class="form-control" placeholder="Diễn viên (nếu có)" />
                <span asp-validation-for="Actor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" placeholder="Quốc gia (nếu có)" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang" class="control-label"></label>
                <input asp-for="Lang" class="form-control" placeholder="Ngôn ngữ (nếu có)" />
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" placeholder="Thể loại (nếu có)" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseTime" class="control-label"></label>
                <input asp-for="ReleaseTime" class="form-control" placeholder="Thời gian khởi chiếu (nếu có)" />
                <span asp-validation-for="ReleaseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterUrl" class="control-label"></label>
                <input asp-for="PosterUrl" class="form-control" placeholder="Đường dẫn áp phích (nếu có)" />
                <span asp-validation-for="PosterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" placeholder="Đường dẫn video trailer (nếu có)" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsShowing"></label>
                <select asp-for="IsShowing" class="form-control" data-placeholder="Chọn">
                    <option class="option-item">Chọn</option>
                    <option class="option-item">Sắp khởi chiếu</option>
                    <option class="option-item" value="true">Đang khởi chiếu</option>
                    <option class="option-item" value="false">Đã khởi chiếu</option>
                </select>
                <span asp-validation-for="IsShowing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Thêm</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Movie/Index"><< Xem danh sách phim</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}