@{
    ViewData["Title"] = "Liên hệ";
}
<h2 class="text-uppercase">
    Liên hệ với chúng tôi
</h2>
<div class="row margin-bottom-20">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-16">
                <div class="form-group">
                    <h3>Tỉnh/ Thành phố</h3>
                    <div class="select2-container form-control" id="s2id_cboTinhThanhLienHe"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">Tỉnh/ Thành phố</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2" tabindex="1"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen2_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-2">   </ul></div></div><select id="cboTinhThanhLienHe" class="form-control select2-offscreen" data-placeholder="Tỉnh/ Thành phố" tabindex="-1" title="">
                        <option class="option-item" value="0">Tỉnh/ Thành phố</option>

                        <option class="option-item" value="3fd25e4b-8f3e-4d39-8a8a-a647627d8459">Thái Nguyên</option>

                        <option class="option-item" value="a0f4b33c-58ce-4047-b54f-2fa28f47311e">Đồng Nai</option>

                        <option class="option-item" value="5f672cb2-d9c2-442e-a8e7-12939fec65ab">Hà Nội</option>

                        <option class="option-item" value="f4b0a1f8-95d0-46dd-8595-7b1d9e41985c">Thanh Hóa</option>

                        <option class="option-item" value="66e64727-7b67-43f3-84db-0a1731528398">Bắc Giang</option>

                        <option class="option-item" value="46015d6d-3f96-4dad-a487-415be85dd24d">Khánh Hòa</option>

                        <option class="option-item" value="1c5f58bb-f1ac-4ca0-8df8-b65869d69b7f">TP. Hồ Chí Minh</option>

                        <option class="option-item" value="1b13f701-6fa6-4580-ae2e-d986ee5b9d42">Bà Rịa - Vũng Tàu</option>

                    </select>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="clear-fix"></div>
        <div class="row">
            <div class="col-md-16">
                <div class="form-group">
                    <h3>Tên rạp</h3>
                    <select id="cboRapLienHe" class="form-control" data-placeholder="Chọn rạp phim" tabindex="1">
                    </select>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="well" id="divCinemaInfo">
            <h1>Beta Mỹ Đình</h1>
            <div class="font-16">
                <b>
                    Địa chỉ:
                </b> Tầng hầm B1, tòa nhà Golden Palace, Đường Mễ Trì, Phường Mễ Trì, Quận Nam Từ Liêma, Hà Nội.
            </div>
            <br>
            <div class="font-16">
                <b>
                    Số điện thoại:
                </b> 0866 154 610
            </div>
            <br>
            <div class="text-center">
                <iframe allowfullscreen="" frameborder="0" height="450" src="https://maps.google.com/maps?q=21.0119067,105.7730692&amp;hl=vi&amp;output=embed" style="border: 0"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>
            Thông tin phản hồi
        </h3>
        <!-- BEGIN FORM-->
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input type="text" id="txtName" class="form-control" placeholder="Tên">
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input type="text" id="txtEmail" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-phone-square"></i>
                <input type="text" id="txtDienThoai" class="form-control" placeholder="Số điện thoại">
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="txtNoiDung" rows="6" placeholder="Nội dung"></textarea>
        </div>
        <div class="form-group">
            <img class="pull-left" id="captchafeedback" src="CreateCapcha.aspx" alt=""><a onclick="changeImage('captchafeedback', 'CreateCapcha.aspx')" class="pull-left" style="padding: 9px;"><i style="font-size: 30px;" class="fa fa-refresh"></i></a>
        </div>
        <div class="form-group">
            <input type="text" id="txtMaXacThuc" class="form-control" placeholder="Nhập mã xác thực">
        </div>
        <button type="button" onclick="addFeedback();" class="btn green pull-right">
            Gửi yêu cầu
        </button>
        <!-- END FORM-->
    </div>
</div>