@{
    ViewData["Title"] = "Giới thiệu";
}
<div class="text-center">
    <img class="img-responsive margin-bottom-30 margin-top-20" 
         src="https://files.betacorp.vn/files/ecm/2021/04/20/beta-media-01-164926-200421-23.png" 
         style="display: initial; width:100%">
</div>
<p style="text-align: justify;">Công ty Cổ phần Beta Media với tiền thân là Công ty TNHH Beta Media thành lập ngày 08 tháng 09 năm 2014, trụ sở chính đặt tại Tầng 3, số 595, đường Giải Phóng, Phường Giáp Bát, Quận Hoàng Mai, Thành phố Hà Nội.</p>
<p style="text-align: justify;">Beta Media được thành lập với mục tiêu đem tới khách hàng các sản phẩm và dịch vụ chất lượng tốt nhất, giá cả hợp lý nhất; với hai mảng kinh doanh chính là Tổ hợp dịch vụ ăn uống giải trí và cung cấp dịch vụ truyền thông. Chúng tôi đặt ra mục tiêu đem lại những trải nghiệm văn hoá và giải trí tuyệt vời nhất cho người dân Việt Nam, đặc biệt là giới trẻ. Những hoạt động của Beta Media bao gồm:</p>
<ul>
    <li style="text-align: justify;">Hoạt động chiếu phim</li>
    <li style="text-align: justify;">Hoạt động sản xuất phim điện ảnh, phim video và chương trình truyền hình</li>
    <li style="text-align: justify;">Hoạt động phát hành phim điện ảnh, phim video và chương trình truyền hình</li>
    <li style="text-align: justify;">Nhà hàng và các dịch vụ ăn uống phục vụ lưu động</li>
    <li style="text-align: justify;">Quảng cáo</li>
</ul>
<p style="text-align: justify;">Với sứ mệnh mong muốn mang tới giá trị văn hóa hiện đại và chất lượng, Beta luôn lắng nghe, nghiên cứu nhằm thấu hiểu và thoả mãn nhu cầu của khách hàng, sáng tạo trong từng sản phẩm, tận tâm đem đến chất lượng dịch vụ hàng đầu.</p>
<div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
