@{
    ViewData["Title"] = "Điều khoản bảo mật";
}
<h2 class="text-uppercase text-center">Điều khoản bảo mật</h2>
<p style="text-align: center;">CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN KHÁCH HÀNG</p>
<p style="text-align: justify; font-weight:bold">1. Mục đích và phạm vi thu thập</p>
<p style="text-align: justify;">Việc thu thập dữ liệu chủ yếu trên website Betacinemas.vn bao gồm: email, điện thoại, số chứng minh thư nhân dân/căn cước công dân, mật khẩu đăng nhập, địa chỉ khách hàng (thành viên). Đây là các thông tin mà website Betacinemas.vn cần thành viên cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để website Betacinemas.vn liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ trên website Betacinemas.vn nhằm đảm bảo quyền lợi cho người tiêu dùng.</p>
<p style="text-align: justify;">Trong quá trình giao dịch thanh toán Website Betacinemas.vn, chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của thành viên, các thông tin về số tài khoản ngân hàng của thành viên sẽ không được lưu giữ.</p>
<p style="text-align: justify;">Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho Ban quản lý website Betacineplex.vn về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>
<p style="text-align: justify; font-weight:bold">2. Phạm vi sử dụng thông tin</p>
<p style="text-align: justify;">Công ty sử dụng thông tin thành viên cung cấp để:</p>
<p style="text-align: justify;">- Cung cấp các dịch vụ đến thành viên;</p>
<p style="text-align: justify;">- Gửi các thông báo về các hoạt động trao đổi thông tin giữa thành viên và website Betacinemas.vn;</p>
<p style="text-align: justify;">- Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của thành viên hoặc các hoạt động giả mạo thành viên;</p>
<p style="text-align: justify;">- Liên lạc và giải quyết với thành viên trong những trường hợp đặc biệt.</p>
<p style="text-align: justify;">- Không sử dụng thông tin cá nhân của thành viên ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại website Betacinemas.vn.</p>
<p style="text-align: justify;">- Trong trường hợp có yêu cầu của pháp luật: Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên.</p>
<p style="text-align: justify;">- Trong những trường hợp còn lại, chúng tôi sẽ có thông báo cụ thể cho Quý Khách Hàng khi phải tiết lộ thông tin cho một bên thứ ba và thông tin này chỉ được cung cấp khi được sự phản hồi đồng ‎ý‎ từ phía Quý Khách Hàng. VD: các chương trình khuyến mãi có sự hợp tác, tài trợ với các đối tác của Công ty Beta; cung cấp các thông tin giao nhận cần thiết cho các đơn vị vận chuyển.</p>
<p style="text-align: justify; font-weight:bold">3. Thời gian lưu trữ thông tin</p>
<p style="text-align: justify;">Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự khách hàng đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân khách hàng sẽ được bảo mật trên máy chủ của website Betacinemas.vn.</p>
<p style="text-align: justify; font-weight:bold">4. Những người hoặc tổ chức có thể được tiếp cận với thông tin đó</p>
<p style="text-align: justify;">- Ban quản lý website Betacinemas.vn và các bộ phận liên quan đến việc hỗ trợ và thực hiện hợp đồng với người tiêu dùng.</p>
<p style="text-align: justify;">- Trong trường hợp có yêu cầu của pháp luật: Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng.</p>
<p style="text-align: justify; font-weight:bold">5. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</p>
<p style="text-align: justify;">Công ty Cổ Phần BETA MEDIA</p>
<p style="text-align: justify;">Tầng 3, số 595, đường Giải Phóng, phường Giáp Bát, quận Hoàng Mai, thành phố Hà Nội</p>
<p style="text-align: justify;">Email: cskh@betacorp.vn</p>
<p style="text-align: justify;">Hoặc liên hệ hotline: (024) 7302 8885</p>
<p style="text-align: justify;">Đối với các thắc mắc về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân người tiêu dùng, khách hàng có thể liên hệ hotline</p>
<p style="text-align: justify; font-weight:bold">6. Phương thức và công cụ để người tiêu dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</p>
<p style="text-align: justify;">Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản đã được cấp trên website Betacinemas.vn. Sau đó, chọn mục “Thông tin cá nhân” để thực hiện việc chỉnh sửa theo yêu cầu của người tiêu dùng.</p>
<p style="text-align: justify; font-weight:bold">7. Cam kết bảo mật thông tin cá nhân khách hàng</p>
<p style="text-align: justify;">- Thông tin cá nhân của thành viên trên Website Betacinemas.vn được Công ty Cổ phần Beta Media cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Công ty. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
<p style="text-align: justify;">- Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên.</p>
<p style="text-align: justify;">- Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, Website Betacinemas.vn sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.</p>
<p style="text-align: justify;">- Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Website Betacinemas.vn.</p>
<p style="text-align: justify;">- Ban quản lý Website Betacinemas.vn yêu cầu các cá nhân khi đăng ký/mua hàng là Thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán … và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý Website Betacinemas.vn không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.</p>
<p style="text-align: justify; font-weight:bold">8. Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân khách hàng</p>
<p style="text-align: justify;">Khi phát hiện thông tin cá nhân của mình bị sử dụng sai mục đích hoặc phạm vi, thành viên có thể cung cấp các thông tin, chứng cứ liên quan đến việc này theo địa chỉ:&nbsp;</p>
<p style="text-align: justify;">Công ty Cổ Phần BETA MEDIA</p>
<p style="text-align: justify;">Tầng 3, số 595, đường Giải Phóng, phường Giáp Bát, quận Hoàng Mai, thành phố Hà Nội</p>
<p style="text-align: justify;">Email: cskh@betacorp.vn</p>
<p style="text-align: justify;">Hoặc liên hệ hotline: (024) 7302 8885</p>
<p style="text-align: justify;">Trong thời hạn 10 ngày làm việc kể từ ngày nhận được khiếu nại của thành viên, Bộ phận/đơn vị chủ trì giải quyết khiếu nại có trách nhiệm tìm ra nguyên nhân khiếu nại và đưa ra phương án giải quyết. Trả lời cho thành viên về kết quả giải quyết khiếu nại. Tùy theo mức độ, tính chất của việc khiếu nại mà Bộ phận/đơn vị chủ trì giải quyết khiếu nại sẽ có biện pháp giải quyết cụ thể.</p>
<p style="text-align: justify;">Nếu thông qua hình thức thỏa thuận mà vẫn không thể giải quyết được khiếu nại của thành viên thì một trong hai bên sẽ có quyền nhờ đến cơ quan pháp luật có thẩm quyền can thiệp nhằm đảm bảo lợi ích hợp pháp của các bên.</p>
<div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>