@{
    ViewData["Title"] = "Câu hỏi thường gặp";
}
<div class="panel-group accordion scrollable" id="accordion">
    <div class="panel panel-default mb-3">
        <div class="panel-heading">
            <h3 class="panel-title text-uppercase text-center">
                <a class="accordion-toggle accordion-toggle-styled"
                   data-toggle="collapse" data-parent="#accordion"
                   href="#collapse-panel">Khi xem tại rạp</a>
            </h3>
        </div>

        <div class="panel-collapse in" id="collapse-panel">
            <div class="panel-body">
                <h3>Tôi có được mang đồ ăn từ bên ngoài vào không?</h3>
                <div class="font-16">
                    <p>Nhằm đảm bảo chất lượng phục vụ bao gồm vệ sinh an toàn thực phẩm và tránh gây nhầm lẫn về đồ ăn bên ngoài 
                    và được bán ở rạp, quy khách vui lòng gửi đồ ăn tại quầy Con hoặc tiêu dùng hết trước khi vào bộ phận soát vé. 
                    Beta rất cám ơn sự hợp tác của quý khách.</p>
                </div>

                <h3>Vấn đề chụp hình, ghi âm tại rạp?</h3>
                <div class="font-16">
                    <p>Việc quay phim, chụp hình trong phòng chiếu là vi phạm Luật sở hữu trí tuệ của nước CHXH CN Việt Nam, 
                    theo khung xử phạt hành chính lên đến 35.000.000 VNĐ.</p>
                </div>

                <h3>Chính sách giảm giá cho HSSV, trẻ em và người già?</h3>
                <div class="font-16">
                    <p>Beta áp dụng giá vé ưu đãi giành cho các đối tượng như trên. Chi tiết các bạn có thể liên hệ quầy vé.</p>
                    <p>Bên cạnh đó, trẻ em dưới 0,7m khi đến xem phim tại Beta Cinemas sẽ được miễn phí vé hoàn toàn. 
                    Bé sẽ ngồi chung ghế với bố mẹ khi xem phim.</p>
                    <p>Lưu ý:</p>
                    <p>- Áp dụng cho trẻ em cao từ 0,7m đến 1,3m.</p>
                    <p>- Áp dụng cho người cao tuổi từ 55 tuổi trở lên. Vui lòng xuất trình CMND khi mua vé.</p>
                    <p>- Đối với sinh viên học sinh, các bạn vui lòng xuất trình Thẻ HSSV hoặc CMND dưới 22 tuổi khi mua vé. 
                    Mỗi thẻ chỉ được áp dụng trên 1 vé.</p>
                </div>

                <h3>Combo Đôi và Đơn? Việc mua combo ở Quầy vé có lợi gì?</h3>
                <div class="font-16">
                    <p>Combo là một bộ bao gồm đồ ăn và nước uống.</p>
                    <p>Trong đó, combo Đôi gồm hai nước lớn và một bỏng ngô lớn (bỏng thường) với giá 90.000 đồng; combo đơn 
                    gồm một nước lớn và một bỏng lớn (bỏng thường) với giá 70.000 đồng.</p>
                    <p>- Đối với các khách hàng mua vé kèm combo bỏng nước tại quầy vé sẽ được giảm 5k/ combo</p>
                    <p>- Đối với Đối với các khách hàng mua vé online qua app Beta hoặc Website thi khi mua thêm combo bỏng nước 
                    sẽ được giảm 10k/combo.</p>
                    <p>Mua combo kèm vé sẽ tiết kiệm thời gian giao dịch 1 lần, khách hàng chỉ cần cầm phiếu đổi sang 
                    quầy Con đổi mà không phải xếp hàng thanh toán.</p>
                </div>

                <h3>"Quy định khi xem phim" là gì?</h3>
                <div class="font-16">
                    <p>“Qui định khi xem phim” áp dụng khi các hãng phim hay nhà phát hành bộ phim yêu cầu khán giả 
                    không sử dụng các thiết bị ghi âm điện tử (máy ảnh, điện thoại di động, máy tính, ...) trong phòng chiếu phim. 
                    Các thiết bị điện tử của bạn sẽ được cất trữ an toàn và gửi lại bạn sau khi bộ phim kết thúc. 
                    Qui định này thường áp dụng cho các tuần khởi chiếu của phim.</p>
                    <p>Khi xem phim 3D, bạn cần phải giữ kính 3D cẩn thận. Trong trường hợp làm mất mát hoặc hư hỏng kính, 
                    bạn sẽ phải đền bù. Do đó, khi nhận kính 3D từ nhân viên Beta Cineplex trước khi vào rạp chiếu phim, 
                    các bạn vui lòng kiểm tra kính cẩn thận.</p>
                </div>

                <h3>Các vị trí ghế có gì khác nhau?</h3>
                <div class="font-16">
                    <p>Hiện tại rạp có 3 loại ghế trong một phòng, trong đó:</p>
                    <p><strong>Ghế đôi: </strong>Beta Cinemas được biết đến với hê thống ghế đôi, hay còn gọi là 
                    “Ghế Tình Nhân” đặc biệt. Hãy tận hưởng cảm giác thoải mái và ấm cúng cùng người ấy với ghế đôi của Beta. 
                    Tuyệt hơn nữa, ghế đôi được đặt ở vị trí rất thuận lợi để hai bạn có thể thưởng thức những thước phim hay 
                    với tầm nhìn và vị thế đẹp nhất.</p>
                    <p><strong>Ghế VIP: </strong>là ghế ở khu vực trung tâm của rạp chiếu phim, là vị trí khá là tốt 
                    để bạn có thể thưởng thức trọn vẹn bộ phim mà mình yêu thích.</p>
                    <p><strong>Ghế thường:</strong> là ghế ở khu vực phía trước, gần màn hình hơn</p>
                </div>

                <h3>Tại sao không được mang thú cưng vào rạp cũng như hút thuốc trong rạp?</h3>
                <div class="font-16">
                    <p>Để đảm bảo vệ sinh và sức khỏe cho cộng đồng, các bạn vui lòng không mang thú cưng 
                    và hút thuốc vào trong rạp.</p>
                </div>

                <h3>Tôi có được hoàn lại tiền vé hoặc thay đổi suất chiếu?</h3>
                <div class="font-16">
                    <p>Vé đã mua rồi không thể hủy hoặc thay đổi.</p>
                </div>

                <h3>Trước khi trình chiếu ở Việt Nam, các bộ phim được kiểm duyệt thế nào?</h3>
                <div class="font-16">
                    <p>Tất cả những phim được trình chiếu tại các rạp chiếu phim ở Việt Nam phải được kiểm duyệt, 
                    sau đó được cấp giấy phép phát hành và phạm vi phổ biến phim bởi Cục Điện Ảnh thuộc Bộ Văn Hóa, 
                    Thể Thao và Du Lịch Việt Nam. Do đó, một số cảnh quay có thể được yêu cầu phải cắt bỏ bởi Cục Điện Ảnh 
                    để phù hợp với văn hóa của Việt Nam trước khi lưu hành. Tuy nhiên, không ngoại trừ một số phim sẽ 
                    không được cấp phép phát hành tại Việt Nam.</p>
                </div>

                <h3>Các định dạng phim khác nhau chỗ nào? Tôi nên lựa chọn phim sao cho hợp lý?</h3>
                <div class="font-16">
                    <p>Nhiều phim bom tấn mới ra mắt dưới nhiều định dạng khác nhau cho khán giả lựa chọn.</p>
                    <p>2D Digital: phim được chiếu ở định dạng 2D Digital với hình ảnh sáng hơn, sắc nét hơn, 
                    âm thanh sống động hơn.</p>
                    <p>3D: phim được chiếu ở định dạng 3D với hình ảnh và âm thanh hoàn toàn sắc nét, sống động. 
                    Bạn cần đến mắt kiếng chuyên dụng 3D để xem phim.</p>
                </div>

                <h3>2D Digital là gì?</h3>
                <div class="font-16">
                    <p>Cuộc cách mạng số được tiếp diễn với công nghệ phim 2D Digital. Rất nhiều khách hàng đã hỏi chúng tôi 
                    về sự khác nhau giữa phim 2D tiêu chuẩn 35mm và 2D Digital và đây là câu trả lời dành cho các bạn:</p>
                    <p>Không giống như phim 2D thông thường với các bản phim và máy chiếu tiêu chuẩn, 2D Digital sử dụng các 
                    thiết bị kỹ thuật số tương tự như công nghệ 3D Digital chỉ khác là không có hiệu ứng 3D. Điều này có nghĩa là bạn
                    sẽ được thưởng thức hiệu ứng hình ảnh sáng hơn, sắc nét hơn của công nghệ 3D với âm thanh digital sống động.</p>
                    <p>Hãy đón xem 2D Digital để có trải nghiệm điện ảnh thật sự tuyệt vời.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-uppercase text-center">
                <a class="accordion-toggle accordion-toggle-styled" 
                   data-toggle="collapse" data-parent="#accordion" 
                   href="#collapse-panel-2">Khi đặt vé online</a>
            </h3>
        </div>

        <div class="panel-collapse in" id="collapse-panel-2">
            <div class="panel-body">
                <h3>Vì sao tôi đã đặt vé thành công mà chưa nhận được xác nhận đặt vé?</h3>
                <div class="font-16">
                    <p>Trong vòng 30 phút kể từ khi thanh toán thành công, chúng tôi sẽ gửi bạn mã xác nhận thông tin vé 
                    qua email của bạn. Bạn vui lòng kiểm tra cả hòm thư rác. Nếu bạn cần hỗ trợ hay thắc mắc, 
                    khiếu nại về xác nhận mã vé thì vui lòng nhắn tin tới Facebook Fanpage Beta Cinemas tại: 
                    <em><u>m.me/betacinemas</u></em> trong vòng 60 phút kể từ khi thanh toán vé thành công. 
                    Sau khoảng thời gian trên, chúng tôi không chấp nhận giải quyết bất kỳ khiếu nại nào.</p>
                    <p>Chúng tôi không chịu trách nhiệm trong trường hợp thông tin địa chỉ email, 
                    số điện thoại bạn nhập không chính xác dẫn đến không nhận được thư xác nhận của chúng tôi. 
                    Vui lòng kiểm tra kỹ các thông tin này trước khi thực hiện thanh toán. 
                    Chúng tôi không hỗ trợ xử lý và không chịu trách nhiệm trong trường hợp đã gửi thư xác nhận mã vé 
                    đến địa chỉ email của bạn nhưng vì một lý do nào đó mà bạn không thể đến xem phim.</p>
                </div>

                <h3>Có thể hủy hoặc thay đổi vé đã mua online được không?</h3>
                <div class="font-16">
                    <p>Vé đã mua rồi không thể huỷ/đổi trả/hoàn tiền vì bất kỳ lý do gì. 
                    Chúng tôi chỉ thực hiện hoàn tiền trong trường hợp thẻ của bạn đã bị trừ tiền 
                    nhưng hệ thống của chúng tôi không ghi nhận việc đặt vé của bạn, 
                    và bạn không nhận được xác nhận đặt vé thành công.</p>
                    <p>Khi đó, bạn vui lòng liên hệ với rạp Beta mà bạn vừa chọn để mua vé bằng cách nhắn tin cho 
                    Facebook Fanpage Beta Cinemas tại: <em><u>m.me/betacinemas</u></em></p>
                    <p>Sau khi đã xác nhận các thông tin của khách hàng cung cấp về giao dịch không thành công, 
                    tùy theo từng loại tài khoản khách hàng sử dụng mà việc hoàn tiền sẽ có thời gian khác nhau:</p>
                    <p>- Thẻ ATM: hoàn tiền trong 1 tuần làm việc.</p>
                    <p>- Thẻ Visa Credit Card, Master Card, JCB Card: hoàn tiền trong vòng 1 tháng làm việc.</p>
                    <p>- Các thẻ của ngân hàng Vietcombank: hoàn tiền trong vòng 48 giờ làm việc.</p>
                </div>

                <h3>Vé liệt kê trên website áp dụng cho đối tượng nào?</h3>
                <div class="font-16">
                    <p>Theo quy định của Cục Điện Ảnh, một số phim sẽ không dành cho khán giả dưới 13, 16 hoặc 18 tuổi. 
                    Khi đến lấy vé tại quầy vé, nhân viên có thể yêu cầu bạn xuất trình giấy tờ tuỳ thân để chứng minh 
                    độ tuổi quy định. Vui lòng lưu ý và cân nhắc chắc chắn trước khi mua vé.</p>
                </div>

                <h3>Sau khi đặt mua vé thành công thì tôi nên làm gì?</h3>
                <div class="font-16">
                    <p>Vui lòng kiểm tra thông tin xác nhận vé cẩn thận và ghi nhớ mã đặt vé. Khi đến nhận vé tại 
                    Quầy vé của Chúng tôi, bạn cũng cần mang theo giấy tờ tùy thân như CMND, thẻ sinh viên hoặc hộ chiếu.</p>
                </div>

                <h3>Tại sao thẻ của bạn bị từ chối, giao dịch thanh toán không thành công?</h3>
                <div class="font-16">
                    <p>Giao dịch thanh toán không thành công có thể do nhiều nguyên nhân. Bạn tham khảo các nguyên nhân sau:</p>
                    <p>- Chưa đăng ký chức năng thanh toán trên Internet với Ngân hàng (Đối với thẻ Visa, MasterCard, JCB)</p>
                    <p>- Chưa đăng ký đủ điều kiện để thực hiện thanh toán trực tuyến với Ngân hàng (Đối với thẻ ATM nội địa)</p>
                    <p>- Thẻ không đủ hạn mức/ số dư để thanh toán. Một số Ngân hàng có quy định cả hạn mức chi tiêu theo ngày 
                    cho thẻ.</p>
                    <p>- Nhập sai thông tin thẻ.</p>
                    <p>Để biết nguyên nhân chính xác, vui lòng liên hệ với Ngân hàng phát hành thẻ.</p>
                </div>

                <h3>Tôi đã thanh toán thành công, tiền trong tài khoản đã bị trừ, nhưng không nhận được email xác nhận từ Beta Media 
                thì tôi phải làm gì?</h3>
                <div class="font-16">
                    <p>Khi đó bạn vui lòng liên hệ đến số Hotline của rạp hoặc Inbox đến Facebook Fanpage chính thức của 
                    Beta Cinemas: <em><u>m.me/betacinemas</u></em> 
                    hoặc hotline của từng rạp theo danh sách bên dưới. 
                    Bạn vui lòng cung cấp cho chúng tôi các thông tin về Tên, số điện thoại của bạn, thông tin đặt vé, suất chiếu,
                    rạp chiếu, ngày giờ đặt vé. Chúng tôi sẽ hỗ trợ chậm nhất sau 24h làm việc.</p>
                </div>

                <h3>Làm sao để thanh toán Online?</h3>
                <div class="font-16">
                    <p>Thẻ phải được kích hoạt chức năng thanh toán trực tuyến, và có đủ hạn mức/ số dư để thanh toán. 
                    Bạn cần nhập chính xác thông tin thẻ (tên chủ thẻ, số thẻ, ngày hết hạn, số CVC, OTP,...)</p>
                </div>
            </div>
        </div>
    </div>
</div>